$red: rgb(240, 207, 207);

.board {
    background-color: blue;
    color: white;
    a{
        color: white;
        &:hover{
            text-decoration: none;
            color: rgb(195, 195, 195);
        }
    } 
}
.topic {
    th{
        padding-left: 40px;
    }
}
.topicName {
    background-color: blueviolet;
    color: white;
}